@{
   Layout = null;
}
<!doctype html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Auswahl</title>
   <link href="lib/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body>
<div class="text-center mt-3">
    <h1>Dein Shop</h1>
</div>

</body>
</html>
